<div class="container for-flex-box mt-3">
  <div class="user-info-box">
    <%= cl_image_tag @user.image.key, height: 300, width: 400, crop: :fill %>
    <p class="user-info-name"><%= current_user.first_name %> <%= current_user.last_name %></p>
    <div class="user-info-text">
      <p>Age: <%= current_user.age %></p>
      <p>Location: <%= current_user.address %></p>
      <p>Email: <%= current_user.email %></p>
      <p>Running Level: <%= current_user.level %></p>
    </div>
  </div>


  <div>
    <div>
      <h1>Calender</h1>
      <%= month_calendar(attribute: :start_time, end_attribute: :end_time) do |date| %>
        <%= date.day %>
      <% end %>
    </div>
    <div>
      <h1>Requests</h1>
      <h3>Requests that I've received</h3>
        <% @received_requests.each do |request| %>
          <% if request.status == 'Pending' %>
            <div>
              <img src=<% request.sender.image %> alt="picture of sender">
              <p><%= request.sender.first_name %> <%= request.sender.last_name %></p>
              <p><%= request.sender.address %></p>
              <p><%= request.start_time %> ~ <%= request.end_time %></p>
              <p>current status : <%= request.status %></p>
              <%= form_with(url: "/requests/#{request.id}/approvals", method: "post") do %>
                <%= submit_tag("Approve") %>
              <% end %>
              <%= form_with(url: "/requests/#{request.id}/rejects", method: "post") do %>
                <%= submit_tag("Reject") %>
              <% end %>
            </div>
          <% else %>
            <% if request.status == 'Approved' %>
              <div>
                <img src=<% request.sender.image %> alt="picture of sender">
                <p><%= request.sender.first_name %> <%= request.sender.last_name %></p>
                <p><%= request.sender.address %></p>
                <p><%= request.start_time %> ~ <%= request.end_time %></p>
                <p>current status : <%= request.status %></p>
                <a>I want to chat with <%= request.sender.first_name %></a>
              </div>
            <% else %>
              <div>
                <img src=<% request.sender.image %> alt="picture of sender">
                <p><%= request.sender.first_name %> <%= request.sender.last_name %></p>
                <p><%= request.sender.address %></p>
                <p><%= request.start_time %> ~ <%= request.end_time %></p>
                <p>current status : <%= request.status %></p>
                <%= link_to "Delete",
                            request_path(request),
                            method: :delete,
                            data: { confirm: "Are you sure?" }%>
              </div>
            <% end %>

          <% end %>
        <% end %>

      <h3>Requests that I've sent</h3>
        <% @sent_requests.each do |request| %>
          <div>
            <p>I want to run with <%= request.receiver.first_name %></p>
            <p>current status : <%= request.status %></p>
            <p>start time: <%= request.start_time %></p>
            <p>end time: <%= request.end_time %></p>
          </div>
        <% end %>
    </div>
    <div>

    </div>
      <h1>My running buddies</h1>
      <% @received_requests.each do |request| %>
        <% if request.status == 'Approved' %>
          <img src=<% request.sender.image %> alt='image of buddy'>
          <p><%= request.sender.first_name %> <%= request.sender.last_name %></p>
        <% end %>
      <% end %>

    </div>


</div>
