<div class="profile-page mt-5">

<div class="container for-grid-box">
  <div class="user-info-box">
    <%= cl_image_tag @user.image.key, crop: :fill, class: "user-avatar" %>
    <h4 class="user-info-name"><%= current_user.first_name %> <%= current_user.last_name %></h4>
    <div class="user-info-text">
      <p>Age: <%= current_user.age %></p>
      <p>Location: <%= current_user.address %></p>
      <p>Email: <%= current_user.email %></p>
      <p>Running Level: <%= current_user.level %></p>
    </div>
  </div>

  <div>
    <h2>Calendar</h2>
    <%= month_calendar(events: @events) do |date, events| %>
      <%= date.day %>

      <% events.each do |event| %>
        <div>
          <% if current_user == event.user1 %>
            <p>Run with <%= event.user2.first_name %>
              from <%= event.start_time.hour %> to <%= event.end_time.hour %></p>
          <% else %>
            <p>Run with <%= event.user1.first_name %>
              from <%= event.start_time.hour %> to <%= event.end_time.hour %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="user-buddies">
    <h4>My running buddies</h4>
    <div class="all-buddies">
    <% @received_requests.each do |request| %>
      <% if request.status == 'Approved' %>
        <div class="one-buddy" data-toggle="collapse"
          data-target="#buddy-info<%= request.id %>" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          <%= cl_image_tag request.sender.image.key, height: 100, width: 100, class: "buddy-avatar" %>
          <p><%= request.sender.first_name %> <%= request.sender.last_name %></p>
        </div>
        <div class="collapse multi-collapse" id="buddy-info<%= request.id %>">
          <div class="buddy-info">
            <p>Age: <%= request.sender.age %></p>
            <p>Location: <%= request.sender.address %></p>
            <p>Email: <%= request.sender.email %></p>
            <p>Running Level: <%= request.sender.level %></p>
            <%= form_with(url: "/runners/#{request.sender.id}/conversations", method: "post") do %>
              <%= submit_tag("chat") %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% @sent_requests.each do |request| %>
      <% if request.status == 'Approved' %>
        <div class="one-buddy" data-toggle="collapse"
          data-target="#buddy-info<%= request.id %>" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          <%= cl_image_tag request.receiver.image.key, height: 100, width: 100, class: "buddy-avatar" %>
          <p><%= request.receiver.first_name %> <%= request.receiver.last_name %></p>
        </div>
        <div class="collapse multi-collapse" id="buddy-info<%= request.id %>">
          <div class="buddy-info">
            <p>Age: <%= request.receiver.age %></p>
            <p>Location: <%= request.receiver.address %></p>
            <p>Email: <%= request.receiver.email %></p>
            <p>Running Level: <%= request.receiver.level %></p>
            <%= form_with(url: "/runners/#{request.receiver.id}/conversations", method: "post") do %>
              <%= submit_tag("chat") %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <div>
  </div>


  <div>
    <h2>Requests</h2>

    <h4>Requests that I've received</h4>
    <% @received_requests.each do |request| %>
      <% if request.status == 'Pending' %>
        <div class="one-received-request">
          <div>
          <%= cl_image_tag request.sender.image.key, height: 200, width: 200, class: "avatar-request" %>
          </div>
          <div>
            <%= link_to "#{request.sender.first_name} #{request.sender.last_name}", "" %>
            <!-- <p>Buddy request from <strong><%= request.sender.first_name %> <%= request.sender.last_name %></strong></p> -->
              <p><%= request.sender.address %></p>
              <p>Current Status : <%= request.status %></p>
              <div class="d-flex">
                <%= form_with(url: "/requests/#{request.id}/approve", method: "post") do %>
                  <%= submit_tag("Approve", class: "request-btn") %>
                <% end %>
                <%= form_with(url: "/requests/#{request.id}/reject", method: "post") do %>
                  <%= submit_tag("Reject", :class => "request-btn") %>
                <% end %>
              </div>
          </div>
        </div>
      <% else %>
        <% if request.status == 'Rejected' %>
          <div class="one-received-request">
            <div>
            <%= cl_image_tag request.sender.image.key, height: 200, width: 200, class: "avatar-request"%>
            </div>
            <div>
              <%= link_to "#{request.sender.first_name} #{request.sender.last_name}", "" %>
              <!-- <p><%= request.sender.first_name %> <%= request.sender.last_name %></p> -->
              <p><%= request.sender.address %></p>
              <p>Current Status : <%= request.status %></p>
              <%= link_to "Delete this request",
                          request_path(request),
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: "request-btn" %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="request-sent-box">
    <h4>Requests that I've sent</h4>
    <% @sent_requests.each do |request| %>
      <div class="one-sent-request">
        <p>Name: <%= request.receiver.first_name %> <%= request.receiver.last_name %></p>
        <p>Current Status : <%= request.status %></p>
      </div>
    <% end %>
  </div>

</div>

</div>
