<div class="container for-flex-box mt-3">
  <div class="user-info-box">
    <%= cl_image_tag @user.image.key, height: 250, width: 300, crop: :fill, class: "user-avatar" %>
    <h4 class="user-info-name"><%= current_user.first_name %> <%= current_user.last_name %></h4>
    <div class="user-info-text">
      <p>Age: <%= current_user.age %></p>
      <p>Location: <%= current_user.address %></p>
      <p>Email: <%= current_user.email %></p>
      <p>Running Level: <%= current_user.level %></p>
    </div>

    <div class="user-buddies">
      <h4>My running buddies</h4>
      <div class="all-buddies">
      <% @received_requests.each do |request| %>
        <% if request.status == 'Approved' %>
          <div class="one-buddy">
            <%= cl_image_tag request.sender.image.key, height: 100, width: 100, class: "buddy-avatar" %>
            <p><%= request.sender.first_name %> <%= request.sender.last_name %></p>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

  <div>

    <div>
      <h1>Calendar</h1>
      <%= month_calendar(events: @events) do |date, events| %>
        <%= date.day %>

        <% events.each do |event| %>
          <div>
            <% if current_user == event.user1 %>
              <p>Run with <%= event.user2.first_name %></p>
            <% else %>
              <p>Run with <%= event.user1.first_name %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div>
      <h1>Requests</h1>
      <h3>Requests that I've received</h3>
        <% @received_requests.each do |request| %>
          <% if request.status == 'Pending' %>
              <%= cl_image_tag request.sender.image.key, height: 200, width: 200%>
              <p>Buddy request from <%= request.sender.first_name %> <%= request.sender.last_name %></p>
              <p><%= request.sender.address %></p>
              <p>current status : <%= request.status %></p>
              <%= form_with(url: "/requests/#{request.id}/approve", method: "post") do %>
                <%= submit_tag("Approve") %>
              <% end %>
              <%= form_with(url: "/requests/#{request.id}/reject", method: "post") do %>
                <%= submit_tag("Reject") %>
              <% end %>
            </div>
          <% else %>
            <% if request.status == 'Rejected' %>
              <div>
                 <%= cl_image_tag request.sender.image.key, height: 200, width: 200%>
                <p><%= request.sender.first_name %> <%= request.sender.last_name %></p>
                <p><%= request.sender.address %></p>
                <p>current status : <%= request.status %></p>
                <%= link_to "Delete this request",
                            request_path(request),
                            method: :delete,
                            data: { confirm: "Are you sure?" }%>
              </div>
            <% end %>

          <% end %>
        <% end %>

      <h3>Requests that I've sent</h3>
        <% @sent_requests.each do |request| %>
          <% if request.status == 'Approved' %>
            <div>
              <p>Name: <%= request.receiver.first_name %> <%= request.receiver.last_name %></p>
              <p>current status : <%= request.status %></p>
              <p>I want to chat with <%= request.receiver.first_name %></p>
            </div>
          <% else %>
            <div>
              <p>Name: <%= request.receiver.first_name %> <%= request.receiver.last_name %></p>
              <p>current status : <%= request.status %></p>
            </div>
          <% end %>
        <% end %>
    </div>

</div>
