<div class="profile-page">
<div class="container wrapper">
  <%# <h2 class="mydashboard">My Dashboard</h2> %>
  <div class="item1 user-info-box">
      <%= cl_image_tag @user.image.key, crop: :fill, class: "user-avatar" %>
      <h4 class="user-info-name"><%= current_user.first_name %> <%= current_user.last_name %></h4>
      <div class="user-info-text">
        <p><%= current_user.age %> years old </p>
        <p><i class="fas fa-venus-mars"></i> <%= current_user.gender %></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= current_user.address %></p>
        <p><i class="far fa-envelope"></i> <%= current_user.email %></p>
        <p><i class="fas fa-running"></i> I'm a <%= current_user.level %> runner</p>
        <p><i class="far fa-calendar-check"></i> <%= current_user.preferred_day %> / <%= current_user.preferred_time %> </p>
      </div>
    </div>

    <div class="item2">
      <h3>Calendar</h3>
      <%= month_calendar(events: @events) do |date, events| %>
        <%= date.day %>

        <% events.each do |event| %>
          <div>
            <% if current_user == event.user1 %>
              <p class="event-click" id="event-click-<%= event.id %>">Run with <%= event.user2.first_name %></p>
              <div class="event-modal" data-event-id="<%= event.id %>">
                <div class="event-content">
                  <p class="modal-close text-right">X</p>
                  <p>Running buddy: <%= event.user2.first_name %> <%= event.user2.last_name %></p>
                  <p>Time: <%= event.start_time.strftime("%I:%M %p") %> ~ <%= event.end_time.strftime("%I:%M %p") %></p>
                  <p>Meeting point: <%= event.location %></p>
                </div>
              </div>
            <% else %>
              <p class="event-click" id="event-click-<%= event.id %>">Run with <%= event.user1.first_name %></p>
              <div class="event-modal" data-event-id="<%= event.id %>">
                <div class="event-content">
                  <p class="modal-close text-right">X</p>
                  <p>Running buddy: <%= event.user1.first_name %> <%= event.user1.last_name %></p>
                  <p>Time: <%= event.start_time.strftime("%I:%M %p") %> ~ <%= event.end_time.strftime("%I:%M %p") %></p>
                  <p>Meeting point: <%= event.location %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="item3 user-buddies">
    <h4>My Buddies</h4>
    <div class="all-buddies">
    <% @received_requests.each do |request| %>
      <% if request.status == 'Approved' %>
        <div class="one-buddy" data-toggle="collapse"
          data-target="#buddy-info<%= request.id %>" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          <%= cl_image_tag request.sender.image.key, height: 100, width: 100, class: "buddy-avatar" %>
          <p><%= request.sender.first_name %> <%= request.sender.last_name %></p>
        </div>
        <div class="collapse multi-collapse" id="buddy-info<%= request.id %>">
          <div class="buddy-info">
            <p>Age: <%= request.sender.age %></p>
            <p>Location: <%= request.sender.address %></p>
            <p>Email: <%= request.sender.email %></p>
            <p>Running Level: <%= request.sender.level %></p>
            <%= form_with(url: "/runners/#{request.sender.id}/conversations", method: "post") do %>
              <%= submit_tag("Chat with #{request.sender.first_name}", class: "chat-button mt-2") %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% @sent_requests.each do |request| %>
      <% if request.status == 'Approved' %>
        <div class="one-buddy" data-toggle="collapse"
          data-target="#buddy-info<%= request.id %>" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          <%= cl_image_tag request.receiver.image.key, height: 100, width: 100, class: "buddy-avatar" %>
          <p><%= request.receiver.first_name %> <%= request.receiver.last_name %></p>
        </div>
        <div class="collapse multi-collapse" id="buddy-info<%= request.id %>">
          <div class="buddy-info">
            <p>Age: <%= request.receiver.age %></p>
            <p>Location: <%= request.receiver.address %></p>
            <p>Email: <%= request.receiver.email %></p>
            <p>Running Level: <%= request.receiver.level %></p>
            <%= form_with(url: "/runners/#{request.receiver.id}/conversations", method: "post") do %>
              <%= submit_tag("Chat with #{request.receiver.first_name}", class: "chat-button mt-2") %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>

    <h3 class="item4">Requests</h3>
    <div class="item5 request-box">
      <div class="request-received-box">
        <h4>Received</h4>
        <% @received_requests.each do |request| %>
          <% if request.status == 'Pending' %>
            <div class="one-received-request">
              <div>
              <%= cl_image_tag request.sender.image.key, height: 200, width: 200, class: "avatar-request" %>
              </div>
              <div>
                <%= link_to "#{request.sender.first_name} #{request.sender.last_name}", "" %>
                <!-- <p>Buddy request from <strong><%= request.sender.first_name %> <%= request.sender.last_name %></strong></p> -->
                  <p><%= request.sender.address %></p>
                  <p>Current Status : <%= request.status %></p>
                  <div class="d-flex">
                    <%= form_with(url: "/requests/#{request.id}/approve", method: "post") do %>
                      <%= submit_tag("Approve", class: "chat-button") %>
                    <% end %>
                    <%= form_with(url: "/requests/#{request.id}/reject", method: "post") do %>
                      <%= submit_tag("Reject", class: "chat-button") %>
                    <% end %>
                  </div>
              </div>
            </div>
          <% else %>
            <% if request.status == 'Rejected' %>
              <div class="one-received-request">
                <div>
                <%= cl_image_tag request.sender.image.key, height: 200, width: 200, class: "avatar-request"%>
                </div>
                <div>
                    <p class="font-weight-bold"><%= request.sender.first_name %> <%= request.sender.last_name %></p>
                    <p><%= request.sender.address %></p>
                  <p class="mb-1">Current Status : <%= request.status %></p>
                  <%= link_to "Delete this request",
                              request_path(request),
                              method: :delete,
                              data: { confirm: "Are you sure?" },
                              class: "chat-button" %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
    </div>

        <div class="request-sent-box">
          <div class="sent-box-align">
            <h4>Sent</h4>
            <% @sent_requests.each do |request| %>
              <div class="one-sent-request">
                <p>Name: <%= request.receiver.first_name %> <%= request.receiver.last_name %></p>
                <p>Current Status : <%= request.status %></p>
              </div>
            <% end %>
          </div>
        </div>
  </div>
</div>
</div>
