<div class="container">
  <h1 class="track-name"><%= @track.name %> <i class="fas fa-map-marker-alt"></i></h1>
  <hr class="my-3"/>
  <div class="row">
    <div class="description-box col-md-6">
      <p class="description"><%= @track.description %></p>
      <p class="keyword-title mx-2"><i class="fa fa-hashtag" aria-hidden="true"></i>Keywords</p>
      <% @track.keyword.each do |keyword| %>
        <div class="track-keywords">
          <h6 class="one-keyword">#<%= keyword %></h6>
        </div>
      <% end %>
      <br>
    
      <input id="foo" value="<%= track_url(@track) %>">
      <br>  
      <button class="btn btn-md btn-primary copy-button mx-2" data-clipboard-target="#foo">Copy Link</button>
      <button class="btn btn-md btn-primary buddy-request-button" id="track-click">Send link to buddy</button>
      <div class="small-popup-card" id="track-popup-card">
        <span class="close">x</span>
        <p>Choose your buddy</p>
        <% @received_requests.each do |request| %>
          <% if request.status == 'Approved' %>
            <div class="form-check">
              <%= form_with(url: "/runners/#{request.sender.id}/conversations?", method: "post") do %>
              <%= submit_tag("Chat with #{request.sender.first_name}", class: "chat-button mt-2") %>
              <% end %>
            </div>
          <% else %>
          <% end %>
        <% end %> 
        <% @sent_requests.each do |request| %>
          <% if request.status == 'Approved' %>
            <div class="form-check">
              <%= form_with(url: "/runners/#{request.receiver.id}/conversations?", method: "post") do %>
              <%= submit_tag("Chat with #{request.receiver.first_name}", class: "chat-button mt-2") %>
              <% end %>
            </div>
          <% else %>
          <% end %>
        <% end %> 
      </div>

    </div>

    <div class="col-md-6">
      <%= cl_image_tag @track.image.key, crop: :fill, class: "track-image" %>
    </div>
  </div>
</div>

