<div class="chat-body">
<div class="container">
  <h1 class="header-style text-center"><i class="fa fa-comments" aria-hidden="true"></i> Chat with your running buddies</h1>

  <div class="chat-page">
    <div class="col-md-3">
      <div class="chat-bar">
        <div class="chat-bar-title">
          <h3>My buddies</h3>
        </div>
          <% @conversations.each do |conversation| %>
            <% if @user.id == conversation.user1_id %>
              <div class="chatbar-line <%= 'active' if @current_tab == conversation.user2 %>">
                <%= cl_image_tag conversation.user2.image.key, height: 40, width: 40, crop: :fill, class: "chat-avatar-small" %>
                <%= link_to "#{conversation.user2.first_name} #{conversation.user2.last_name}", conversation %>
              </div>
            <% elsif @user.id == conversation.user2_id %>
              <div class="chatbar-line <%= 'active' if @current_tab == conversation.user1 %>">
                <%= cl_image_tag conversation.user1.image.key, height: 40, width: 40, crop: :fill, class: "chat-avatar-small" %>
                <%= link_to "#{conversation.user1.first_name} #{conversation.user1.last_name}", conversation %>
              </div>
            <% end %>
          <% end %>
      </div>

        <div class="buttons">
          <% if @conversation.user2.first_name == current_user.first_name %>
            <%= link_to " 📆 Add running schedule with #{@conversation.user1.first_name}", new_runner_event_path(@partner), class: 'calendar-button' %>
          <% else %>
            <%= link_to " 📆 Add running schedule with #{@conversation.user2.first_name}", new_runner_event_path(@partner), class: 'calendar-button' %>
          <% end %>
        </div>
    </div>


    <div class="chatroom col-md-9">
      <div class="chat-part" id="messages" data-chatroom-id="<%= @conversation.id %>" data-chatroom-id="<%= @conversation.id %>">
        <% @conversation.messages.each do |message| %>
        <%= render "messages/message", message: message %>
        <% end %>
      </div>
      <div class="form">
        <%= simple_form_for [ @conversation, @message ], remote: true, authenticity_token: true do |f| %>
          <div class="type">
            <%= f.text_field :contents, label: false, placeholder: "Type your message here", class: 'type-box', autocomplete: 'off' %>
            <%= f.button :submit, "Send Message", class: 'send-button' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>
</div>
