<div class="d-flex">
  <h1 class="header-style">Runner Listings</h1>
     <div class="cards d-flex row justify-content-center mx-0 mb-5">
        <% @runners.each do |runner| %>
          <div class="card index-card d-flex align-self-center">
            <div class="d-flex justify-content-center mt-5">
               <%= cl_image_tag runner.image.key, style: 'height:100px; width:100px;margin-bottom:20px;', class: "card-img-top" %>
               <%= runner.first_name %><%= runner.last_name %><br>
               <%= runner.address %>
               <%= link_to "Send a buddy request",
                         runner_requests_path(runner),
                         method: :create,
                         data: { confirm: "Do you want to send a buddy request?" }%>
               <% end %>
           </div>
       </div>
     </div>

     <div class="map-box">
          <div id="map"
               style="width: 100%; height: 100vh;"
               data-markers="<%= @markers.to_json %>"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
     </div>
</div>
