<div class="map-page">

  <div class="container card-container">
    <h1 class="header-style">Runners Near Me</h1>
    <div class="search-option">
       <select class="distance select2" name="distance">
        <option value="">within 5km</option>
        <option value="">within 10km</option>
        <option value="">within 25km</option>
        <option value="">within 50km</option>
      </select>

      <select class="running-level select2" name="running-level">
        <option value="">Fast</option>
        <option value="">Averge</option>
        <option value="">Slow</option>
      </select>

      <select class="gender select2" name="gender">
        <option value="">Female</option>
        <option value="">Male</option>
      </select>

      <select class="preferred-day select2" name="preferred-day">
        <option value="">Weekdays</option>
        <option value="">Weekend</option>
      </select>

      <select class="preferred-time select2" name="preferred-time">
        <option value="">Morning</option>
        <option value="">Afternoon</option>
        <option value="">Evening</option>
      </select>

      <%= link_to "Find" %>
    </div>

    <div class="row">
    <div class="col-md-7 map">
        <div id="map"
              style="width: 100%; height: 100vh;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

      <div class="runner-cards col-md-5">
        <% @runners.each do |runner| %>
          <% if runner == current_user %>
          <% else %>
           <div class="runner-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=Cloudinary::Utils.cloudinary_url(runner.image.key)%>)">
            <strong><%= runner.first_name%> <%= runner.last_name%></strong>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
