<div class="map-page">

  <div class="container card-container">
    <div class="search-option">Distance | <%= link_to "Find" %>
    </div>

    <div class="row">
    <div class="col-md-8 map">
        <div id="map"
              style="width: 100%; height: 80vh;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

      <div class="cards col-md-4 runners-list">
            <h1 class="header-style">Runners Near Me</h1>
            <% @runners.each do |runner| %>
              <% if runner == current_user %>
              <% else %>
               <div class="card index-card d-flex align-self-center">
               <div class="d-flex justify-content-center">
                 <%= cl_image_tag runner.image.key, crop: :fill, class: "card-img-top" %>
                </div>
                <div class="card-body">
                <%= runner.first_name%> <%= runner.last_name%>
               </div>
               </div>
              <% end %>
            <% end %>
      </div>

    </div>
  </div>
</div>
