<div>
  <div class="image-box">
   <div class="box-center">
      <div class="button-container">
        <input type="text" placeholder="Your Location" class="input-box">
        <a href="#" class="button">Find</a>
      </div>

      <div class="slogan">
        <h2>Find Your Running Buddy Anywhere</h2>
      </div>
   </div>
  </div>

  <div class="description-box">
    <div class="card-contrainer">
      <%= image_tag "icon-4.png", :class=> "img-circular"%>
      <p class="card-description">Find a running buddy around you</p>
    </div>

    <div class="card-contrainer-bottom-one">
      <%= image_tag "icon-2.png", :class=> "img-circular"%>
      <p class="card-description">Set your running goals</p>
    </div>

    <div class="card-contrainer">
      <%= image_tag "icon-1.png", :class=> "img-circular"%>
      <p class="card-description">Schedule flexibly with calendar</p>
    </div>

    <div class="card-contrainer-bottom-two">
      <%= image_tag "icon-3.png", :class=> "img-circular"%>
      <p class="card-description">Instant online chat with running buddy</p>
    </div>

    <div class="card-contrainer">
      <%= image_tag "icon-5.png", :class=> "img-circular"%>
      <p class="card-description">Find your favorite running track</p>
    </div>
  </div>
</div>
