<!DOCTYPE html>
<html>
  <head>
    <title>We Run | Find your running buddy anywhere</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="description" content="We Run is the best website for runners who want to find running buddies easily.">
    <meta property="og:title" content="We Run - Find your running buddy around you">
    <meta property="og:image" content="facebook-img.jpg">
    <meta property="og:description" content="We Run is the best website for runners who want to find running buddies easily.">
    <meta property="og:site_name" content="We Run"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

 <body>
<div>
<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <%= render 'shared/search' %>
    <h2 class="slogan">Find your running buddy anywhere</h2>
    <br/>
    <br/>
    <%= link_to "Discover Running Tracks", tracks_path ,class: "discover-button" %>
  </div>
</div>

  <div class="description-box">
    <h1 class="how-it-works">How it works</h1>
    <div class="d-flex justify-content-between">
      <div class="card-container">
        <%= image_tag "icon-1.png", :class=> "img-circular"%>
        <p class="card-description">Find a running buddy around you with our map</p>
      </div>

      <div class="card-container">
        <%= image_tag "icon-2.png", :class=> "img-circular"%>
        <p class="card-description">Start instant online chat <br/>with running buddy</p>
      </div>

      <div class="card-container">
        <%= image_tag "icon-3.png", :class=> "img-circular"%>
        <p class="card-description">Schedule flexibly with calendar</p>
      </div>

      <div class="card-container">
        <%= image_tag "icon-4.png", :class=> "img-circular"%>
        <p class="card-description">Find your favorite running track</p>
      </div>
  </div>
  </div>
</div>
   <%= render 'shared/footer' %>
</body>
</html>