<!DOCTYPE html>
<html>
  <head>
    <title>We Run | Find your running buddy anywhere</title>
    <%= favicon_link_tag %>
    <%# <link rel="shortcut icon" href="favicon.ico"> %>
    <meta name="description" content="We Run is the best website for runners who want to find running buddies easily.">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="We Run - Find your running buddy around you">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.we-runners.run">
    <meta property="og:image" content="facebook.jpg">
    <meta property="og:description" content="We Run is the best website for runners who want to find running buddies easily.">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
  </body>
</html>
